{% extends 'base.html' %}

{% block content %}
<div id="wrapper">
    <img src="https://avatars2.githubusercontent.com/u/60927161?s=400&u=dfd98db169c997029141775f7e9a9e1f9f1f864a&v=4"
         alt="Felix Botta">
    <h1>Felix Botta</h1>

    <h2>Desenvolvedor Python</h2>
    <p>Formado em Análise e Desenvolvimento de Sistemas sou apaixonado por tecnologia e desenvolvimento de software.
        Entusiasta e autodidata, sempre disposto a aprender e aplicar novos conceitos para superar os desafios.

        <a href="https://github.com/felixbotta" target="_blank">Github</a></p>
</div>
{% endblock %}